<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.suhas.mini1">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/train"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".CanTrainsClass" android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".TrainArrivalDetails"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".SignUpActivity">
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".TrainName"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".TrainInfo"
                android:parentActivityName=".MainActivity">
        </activity>

        <activity
                android:name=".SrcDestination"
                android:parentActivityName=".MainActivity">
        </activity>
        <activity
                android:name=".PnrStatusDetails"
                android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>